body {
font-family: Aerial, san-serif ;
line-height: 1.2 ;
}

header {
background-color: #333;
color: #fff;
padding: 15px 10px; 
text-align: center;
font-size: 1.5rem;
width: 100%;
box-sizing: border-box; 
}

main {
width: 500px;
margin: 0 auto ;
  
}
main section {
background-color: #f0f0f0;
padding: 15px;
margin-bottom: 20px;
}
h1 {
margin: 10px;
text-align: center;

}
img {
width: 500px;
height: 300px;
margin-bottom: 20px;
}
footer {
background-color: #333;
color: #fff;
padding: 15px 10px; 
text-align: center;
font-size: 1.5rem;
width: 100%;
box-sizing: border-box; 
}
