body {
font-family: Aerial, san-serif ;
line-height: .8 ;
}

header {
background-color: #333;
color: #fff;
padding: 10px;
text-align: center;
font-size: 1.5rem;
}

main {
width: 400px;
margin: 0 auto ;
  
}
main section {
background-color: grey;
padding: 15px;

}
h1 {
margin: 10px;
text-align: center;

}
img {
width: 350px;
height: 200px;
}
footer {
background-color: #333;
color: #fff;
padding: 10px;
text-align: center;
font-size: 1.5rem;
}

