body {
font-family: Aerial, san-serif ;
line-height: 1.6 ;
}

header {
background-color: #333;
color: #fff
padding: 10px;
text-align: center;
font-size: 1.5rem;
}
main {
  width: 400px;
  margin: 0 auto ;
  
}
footer {
  
}

