body {
font-family: Aerial, san-serif ;
line-height: 1.6 ;
}

header {
background-color: #333;
color: #fff;
padding: 10px;
text-align: center;
font-size: 1.5rem;
}

main {
width: 400px;
margin: 0 auto ;
  
}
main .section {
background-color: grey;
margin: 15px;
}
h1 {
margin: 10px;
text-align: center;

}
img {
width: 250px;
height: 150px;
}
footer {
background-color: #333;
color: #fff;
padding: 10px;
text-align: center;
font-size: 1.5rem;
}

