body {
font-family: Aerial, san-serif ;
line-height: 1.2 ;
}

header {
background-color: #333;
color: #fff;
padding: 15px 10px; 
text-align: center;
font-size: 1.5rem;
width: 100%;
box-sizing: border-box; 
}

main {
width: 500px;
margin: 0 auto ;
  
}
main section {
background-color: #abe;
padding: 15px;
margin-bottom: 20px;
border: 1px solid;
font-size: .9rem;
}

section p{
margin: 10px;
}
h1 {
margin: 10px;
text-align: center;

}
img {
width: 100%;
height: auto;
margin-bottom: 20px;
box-shadow: 0 0 30 #333;
}
ul{
margin: 10px;
}
footer {
background-color: #333;
color: #fff;
padding: 15px 10px; 
text-align: center;
font-size: 1.5rem;
width: 100%;
box-sizing: border-box; 
}
